/* ================================
   BASE — estilos globales
   ================================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
}

* {
    box-sizing: border-box;
}

/* Scroll minimal */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
/* FIX general para TODAS las vistas */
.view {
    flex: 1;
    display: none;      /* ocultas por defecto */
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

/* La vista activa sí se muestra */
.view.active {
    display: flex;
}
